# Python
__pycache__/
*.pyc

# Experiments / outputs
logs/
outputs/
results/
*.npy
*.pt

# OS / editor
.DS_Store
*.swp

# Virtual envs
venv/
.env/
robots/mujoco_menagerie/franka_emika_panda/free_top_scene.xml
robots/mujoco_menagerie/franka_emika_panda/box_scene.xml
robots/mujoco_menagerie/franka_emika_panda/box_scene.xml
