# Python
__pycache__/
*.pyc

# Experiments / outputs
logs/
outputs/
results/

# OS / editor
.DS_Store
*.swp

# Virtual envs
venv/
.env/

# Dataset
data/
*.pkl
*.npy

# Generated MuJoCo scenes and temporary meshes
temp/
/assets/**/temp/
/assets/*/temp_scene*.xml
/assets/*/*_scene_[0-9]*.xml
